<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap" rel="stylesheet">

<div class="glass-box-start text-center p-4">
  <h1 class="mb-3" style="font-family: 'Orbitron', sans-serif;">Word-Grid Master</h1>

  <p class="lead">
    This is a crossword puzzle game.<br>
    I hope you enjoy it.<br>
    It has over 2700+ levels. <br>
    Unlock hidden words by building connections and discovering patterns. <br>
    Track your progress, use hints, and climb the leaderboard.
  </p>

  <hr class="my-4">

  <button type="button" class="btn btn-success btn-lg btn-play w-100" onclick="window.location.href='#/register'">
    Get Started <span style="font-size: 1.2em;">➜</span>
  </button>
</div>
