<div class="container mt-3 leaderboard-box p-4 text-center">
  <h2 class="mb-3">🏆 Leaderboard</h2>
  <table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th scope="col">Rank</th>
        <th scope="col">Username</th>
        <th scope="col">Level</th>
        <th scope="col">Hints Used</th>
      </tr>
    </thead>
    <tbody id="leaderboardBody">
      <!-- Leaderboard rows will be inserted here dynamically -->
    </tbody>
  </table>
</div>
