 <div style="display: flex;">
<div class="glass-container" id="level-wrapper" style="display: flex; gap: 70px; margin: 50px auto auto auto; width: 850px;height: 546px;justify-content: center;" >

  <div id="main-box" style="display: flex; flex-direction: column;margin-top: 30px;margin-left: 50px;">
    <!-- 15x15 grid  -->
  </div>

  <div style="display: flex; flex-direction: column; gap: 10px; margin-top: 20px; align-items: center;">

  <div style="height: 80px; display: flex; align-items: center; justify-content: center;">
    <button id="hintBtn" class="btn btn-warning btn-lg px-4 shadow-sm" style="font-weight: bold; letter-spacing: 1px;">
       Get Hint 🔍
    </button>
  </div>

  <div style="text-align: center;">
    <h5 style="color: black;">list of letters:</h5>
    <div id="lettersContainer"
       style="display: flex; flex-wrap: wrap; gap: 8px; height: 200px; justify-content: center; align-items: center; padding: 10px; background-color: rgba(255,255,255,0.1); border-radius: 10px;">

  </div>
  </div>

  <div style="height: 150px; width: 100%; display: flex; flex-direction: column; justify-content: center; gap: 10px;">
    <input type="text"
           id="wordInput"
           class="form-control text-center"
           style="font-size: 16px; font-weight: 500; border-radius: 8px;"
           placeholder="🔠 Enter a word" />
    <button id="submitWordBtn"
            class="btn btn-success w-100 shadow-sm"
            style="font-weight: bold; font-size: 16px;">
      ✅ Submit
    </button>
  </div>

</div>

</div>

<div class="glass-container" id="level-wrapper"
     style="display: flex; flex-direction: column; margin: 50px auto auto auto; width: 400px; height: 546px; justify-content: center;">

  <div id="1" style="height: 68px; display: flex; align-items: center; justify-content: center;color: black;"></div>
  <hr style="margin: 0;color: black;">
  <div id="2" style="height: 68px; display: flex; align-items: center; justify-content: center;color: black;"></div>
  <hr style="margin: 0;color: black;">
  <div id="3" style="height: 68px; display: flex; align-items: center; justify-content: center;color: black;"></div>
  <hr style="margin: 0;color: black;">
  <div id="4" style="height: 68px; display: flex; align-items: center; justify-content: center;color: black;"></div>
  <hr style="margin: 0;color: black;">
  <div id="5" style="height: 68px; display: flex; align-items: center; justify-content: center;color: black;"></div>
  <hr style="margin: 0;color: black;">
  <div id="6" style="height: 68px; display: flex; align-items: center; justify-content: center;color: black;"></div>
  <hr style="margin: 0;color: black;">
  <div id="7" style="height: 68px; display: flex; align-items: center; justify-content: center;color: black;"></div>
  <hr style="margin: 0;color: black;">
  <div id="8" style="height: 68px; display: flex; align-items: center; justify-content: center;color: black;"></div>

</div>



</div>